{
  "capabilities":
      [
        {
        "browserName": "___phone_name___",
        "deviceName": "___udid___",
        "udid": "___udid___",
        "applicationName": "___udid___",
        "appium:nodeName": "___udid___",
        "maxInstances": 1,
        "wdaLocalPort":___wda_port_appium_remote___,
        "platformName":"ios",
        "platformVersion":"12.0"
        }
      ],
  "configuration":
  {
    "cleanUpCycle":2000,
    "timeout":300,
    "proxy": "org.openqa.grid.selenium.proxy.DefaultRemoteProxy",
    "url":"http://___remote_host_ip___:___port_appium_remote___/wd/hub",
    "host": "___remote_host_ip___",
    "port": ___port_appium_remote___,
    "maxSession": 1,
    "register": true,
    "registerCycle": 5000,
    "hubPort": ___selenium_node_hub_port___,
    "hubHost": "___selenium_node_hub_host___",
    "hubProtocol": "http",
    "nodePolling": 1000,
    "nodeStatusCheckTimeout": 1000,
    "unregisterIfStillDownAfter": 1000
  }
}
